body {
    background-color: #59D5E0;
    
    font-family: 'Noto Sans JP', sans-serif;
}

.title {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
}

.background {
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    
    padding: 5%;
    margin: auto;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.canvas {
    grid-column: 1/2;
    grid-row: 1/3;

    padding: 3%;
}

.explanation {
    grid-column: 2/3;
    grid-row: 1/2;

    padding: 3%;
}

.explanation h2 {
    font-family: "FOT-ラグランパンチ Std UB";
}

.quiz {
    grid-column: 2/3;
    grid-row: 2/3;

    padding: 3%;
}

.quiz h2 {
    font-family: "FOT-ラグランパンチ Std UB";
}

